/* FONDO PANTALLA */

body {
    background-image: url('imagenes/fondo_piedra.jpg');
    background-size: 70%;
    background-position: center;
    background-repeat: repeat;
}

/* HEADER */

header {
    background-color: rgba(255, 255, 255, 0.211);
    border-radius: 0 0 40px 40px;
    padding: 15px;
    position: absolute;
    width: 25%;
    top: 0%;
    left: 36%;
    z-index: 1000;
    text-align: center;
}

header a {
    margin-right: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

header a:hover {
    color: rgb(255, 5, 255);
}

/* BOTON DE VOLVER */

.div_volver {
    margin-top: 30px;
    margin-bottom: -30px;
}

.volver {
    background-color: white;
    color: rgb(83, 83, 83);
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    border: 5px solid #aeaeae;
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
    margin-top: 20px;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
}

.volver:hover  {
    background-color: rgba(253, 253, 253, 0.333);
    border-color: #737373;
}

/* FUENTE PERSONALIZADA */

@font-face {
    font-family: 'FUENTE_MINECRAFT';
    src: url('fuentes/fuente_minecraft.ttf') format('truetype');
}

/* TITULO */

.titulo {
    font-size: 55px;
    font-family: 'FUENTE_MINECRAFT';
    text-align: center;
    margin-top: 10%;
    color: white;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    letter-spacing: 5px;
}

/* BOTONES */

.botones {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

/* BOTON FÁCIL */

.facil {
    background-color: rgb(0, 156, 0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 25px 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border: 5px solid rgb(0, 84, 0);
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

.facil:hover {
    background-color: rgba(0, 156, 0, 0.489);
    color: white;
    font-size: 60px;
}

/* BOTON DIFÍCIL */

.dificil {
    background-color: rgb(212, 0, 0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 25px 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border: 5px solid rgb(111, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

.dificil:hover {
    background-color: rgba(212, 0, 0, 0.488);
    color: white;
    font-size: 60px;
}