body {
    background-image: url('imagenes/fondo_soulsand.jpg');
    background-size: 10%;
    background-position: center;
    background-repeat: repeat;
}

@font-face {
    font-family: 'FUENTE_PERSONALIZADA';
    src: url('fuentes/Super Onigiri.ttf') format('truetype');
}

/* HEADER */

header {
    background-color: rgba(255, 255, 255, 0.211);
    border-radius: 0 0 40px 40px;
    padding: 15px;
    position: absolute;
    width: 25%;
    top: 0%;
    left: 36%;
    z-index: 1000;
    text-align: center;
}

header a {
    margin-right: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

header a:hover {
    color: rgb(255, 5, 255);
}

/* TITULO Y TEXTO */

.titulo {
    font-size: 60px;
    margin-top: 100px;
    font-family: 'FUENTE_PERSONALIZADA';
}

.texto {
    color: antiquewhite;
    margin-top: 4%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.bloque {
    text-align: center;
}

/* FORMULARIO */

.formulario {
    background-color: #ffffff21;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 8px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
    display: inline-block;
}   

textarea {
    resize: vertical;
}

button {
    background-color: #4cafa7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.mapa {
    width: 500px;
    height: 350px;
    text-align: center;
}

/* BOTON VOLVER AL INICIO */

.div_boton {
    text-align: center;
    margin-top: 10%;
}

.boton {
    background-color: #873cff62;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 50px;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    border: 3px solid antiquewhite;
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
}

.boton:hover {
    background-color: #40207562;
    border-color: antiquewhite;
    font-size: 45px;
}
