/* FONDO PANTALLA */

body {
    background-image: url('imagenes/fondo_end_stone.png');
    background-size: 6%;
    background-repeat: repeat;
}

/* BOTON DE VOLVER */

.div_volver {
    margin-top: 30px;
    margin-bottom: -30px;
}

.volver {
    background-color: white;
    color: rgb(83, 83, 83);
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    border: 5px solid #aeaeae;
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
    margin-top: 20px;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
}

.volver:hover  {
    background-color: rgba(253, 253, 253, 0.333);
    border-color: #737373;
}

/* FUENTE PERSONALIZADA */

@font-face {
    font-family: 'FUENTE_PERSONALIZADA';
    src: url('fuentes/Super Onigiri.ttf') format('truetype');
}

/* TITULOS */

.titulo_1 {
    color: rgb(80, 54, 47);
    font-weight: bold;
    font-family:'FUENTE_PERSONALIZADA';
    text-align: center;
    font-size: 350%;
    text-shadow: 0px 0px 40px rgb(255, 255, 255);
    letter-spacing: 2px;
}

.titulo_2 {
    color: white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 300%;
    background-color: rgb(80, 54, 47);
}

/* CONTENIDO BLOQUE NEGRO */

.bloque {
    position: relative;
    text-align: center;
}

/* TEXTO INFORMATIVO */

.texto_info {
    color: white;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 60%;
    font-weight: bold;
}

/* FLECHAS */

.flechas {
    position: absolute;
    top: 34%;
    left: 39%;
    transform: translate(-39%, -39%);
    width: 300px;
    animation: animacion 1.5s ease-in-out infinite;
}

/* ANIMACION DE LAS FLECHAS */

@keyframes animacion {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-20px);
    }
}

/* VIDEO DE YOUTUBE */

.video {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BOTON CRÉDITOS */

.div_creditos {
    text-align: center;
    position: relative;
    margin-top: 5%;
}

.creditos {
    background-color: rgb(80, 54, 47);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 60px;
    padding: 25px 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border: 5px solid rgb(48, 32, 27);
    cursor: pointer;
    transition: background-color 0.5s, font-size 0.5s;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

.creditos:hover {
    background-color: rgba(80, 54, 47, 0.659);
    color: white;
    font-size: 55px;
}